.container {
    width: 728px;
    max-width: 100%;
    position: relative;
    top: 85px;
  }
  
  .header {
    background: linear-gradient(180deg, #6c44de 0%, #500d70 100%);
    border-radius: 17px;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0px;
    display: flex;
  }
  
  .categoryTitle, .vendorTitle {
    color: #070710;
    font-family: Noto Sans;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    width: 40%;
    text-align: center;
}
  
.vendorTitle {
    margin-right: 100px;
}

  .pricingList {
    margin-top: 0px;
  }
  
  .pricingItem {
    color: #fff;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    font-family: Noto Sans;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    padding: 36px 0px;
    border-radius: 17px;
  }

  .pricingItem > div {
    width: 40%;
    text-align: center;
  }

  .pricingItem > div:nth-child(2) {
    margin-right: 100px;
  }

  .pricingItem:nth-child(2n) {
    background: linear-gradient(180deg, rgba(108, 68, 222, 0.50) 0%, rgba(80, 13, 112, 0.50) 100%);
    padding: 18px 0;
  }
  
  .pricingItem:last-child {
    margin-bottom: 0;
  }
  