* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-display: swap;
}

body {
    background-color: #070710;
}

img {
    max-width: 100%;
}

