.card {
  width: 100%;
  min-height: 530px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  transition: all 0.3s ease;
}

.card:hover {
  background-color: #CCCCCC1A;
}

.cardImage {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
}

.cardImage img {
    border-radius: 15px;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.cardDate {
  font-family: "Roboto", Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #7C7C7C;
  margin-bottom: 10px;
}

.cardTitle a {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.96px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.cardDescription {
    font-family: "Roboto", Arial, Helvetica, Sans-Serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: #7C7C7C;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardReadMore a {
    font-family: "Roboto", Arial, Helvetica, Sans-Serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

